/*
    Table of Contents:
*/

body {
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    background: #fff;
    color: #fff;
}

::selection {
    background: #852b99;
    color: #fff;
    -webkit-text-stroke-color: #fff;
}

::-moz-selection {
    background: #852b99;
    color: #fff;
}

/* ==== Typography ==== */

h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
}

h2 {
    font-size: 28px;
    font-weight: 300;
}

h2 b {
    font-weight: normal;
}

h3 {
    font-size: 23px;
    font-weight: 300;
}

h3 small {
    display: block;
    font-size: .6em;
}


@media (max-width: 568px) {
    h1 {
        font-size: 46px;
        letter-spacing: -2px;
    }
}

p {
    line-height: 1.2;
}

p.lead {
    font-size: 18px;
    font-weight: 400;
    margin: 15px 0 75px 0;
    line-height: 1.5;
}

a {
    transition: 0.2s;
    -moz-transition: 0.2s;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
}

a:hover {
    color: #25272B;
    text-decoration: none;
    transition: 0.2s;
    -moz-transition: 0.2s;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
}

.divider {
    margin: 90px 0;
    border-bottom: 1px dashed #dfe1e3;
}

.content-divider {
    margin: 30px 0 90px 0;
    border-bottom: 1px dashed #dfe1e3;
}

.small-divider {
    margin: 30px 0;
    border-bottom: 1px dashed #dfe1e3;
}

textarea:focus, input:focus, a:focus, *:focus {
    outline: none;
}

/* ==== Tabs ==== */

.nav.nav-tabs li a  {
    border: none;
    background: none;
    border-bottom: 1px solid #ddd;
}

.nav.nav-tabs li:hover a {
    border: none;
    border-bottom: 1px solid #1576b6;
    background: none;
}


.nav.nav-tabs li.active a {
    border-bottom: 1px solid #00a7fd;
    color: #1576b6;
}

/* ==== Buttons ==== */

.btn-xxl {
    padding: 15px 50px;
    font-size: 21px;
    line-height: normal;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.btn-outline {
    background-color: transparent;
    color: inherit;
    transition: all .5s;
}

.btn-primary.btn-outline {
    color: #428bca;
}

.btn-success.btn-outline {
    color: #5cb85c;
}

.btn-info.btn-outline {
    color: #5bc0de;
}

.btn-warning.btn-outline {
    color: #f0ad4e;
}

.btn-danger.btn-outline {
    color: #d9534f;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
    color: #fff;
}

/* ==== Preloader ==== */

#page-preloader {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #222;
    z-index: 9999;
    position: fixed;
}

#page-preloader > div {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    background-image: url(../images/preload.gif);
    background-repeat: no-repeat;
    background-position: center;
    margin: -100px 0 0 -100px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}

/* ==== Page Menu ==== */

#page-menu {
}
#page-menu a {
    color: #f0f0f0;
    font-size: 14px;
    font-weight: 700;
    margin-right: 35px;
}
#page-menu a:hover {
    background: none;
    color: #00a7fd;
}
#page-menu a.btn {
    padding: 6px 15px;
    margin-top: 8px;
}
#page-menu a.btn:hover {
    background: #1172b7;
    color: #fff;
}

/* ==== Page Intro ==== */

#page-header {
    background: #000 url(../images/header.jpg) bottom center no-repeat;
    box-shadow: 0px -5px 7px rgba(0,0,0,.15);
}
#page-header .container, .row {
    position: relative;
    height: 100%;
}

.section {
    padding: 40px 0;
}
.section h2 {
    padding-bottom: 20px;
}

/* ==== Page CTA ==== */

#page-cta {
    background: #1576b6;
    text-align: center;
}

/* ==== Page ftease ==== */

#page-ftease {
    color: #414349;
    text-align: center;
}

#page-ftease .nav-tabs {
    margin-bottom: 40px;
}

#page-ftease p {
    font-size: 16px;
    line-height: 21px;
}

#page-ftease p, #page-ftease h3 {
    color: #2c2f39;
}

/* ==== Page twitter ==== */

#page-twitter {
    background: #eee;
    color: #414349;
    border-top: 1px solid #d0d0d0;
    border-bottom: 1px solid #d0d0d0;
    text-align: center;
}

#page-twitter p.shareit{
    margin-bottom: 30px;
}

.twitter-widget {
    background: #fff;
    border: 1px solid #ddd;
    border-bottom-width: 3px;
    border-radius: 3px;
    padding: 15px;
    text-align: left;
    margin-bottom: 20px;
}

.twitter-widget .avatar{
    width:79px;
    min-height:50px;
    margin-right:22px;
    text-align:center!important;
    padding: 0 0 40px
}

/* ==== Page by ==== */

#page-by {
    color: #414349;
    text-align: center;
}

.teamavatar {
    padding: 5px;
    border: 1px dashed #ccc;
}